@import '../../../Common.module';

$dialog-content_padding-width: 40px;
$dialog-content_padding-height: 30px;
$dialog-content_width: 1400px;

.dialog-container {
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;

  .dialog-content {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(calc(-50% - $dialog-content_padding-width), calc(-50% - $dialog-content_padding-height));

    // width: $dialog-content_width;
    width: calc(100% - calc($dialog-content_padding-width * 2));
    height: calc(100% - calc($dialog-content_padding-height * 2));

    margin-left: $dialog-content_padding-width;
    margin-right: $dialog-content_padding-width;
    margin-top: $dialog-content_padding-height;
    margin-bottom: $dialog-content_padding-height;

    border-radius: 6px;

    .modal-content {
      background-color: white;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      padding: 5px;

      display: flex;
      flex-direction: column;

      .modal-header {
        min-height: 23px;

        h4 {
          margin-block: 0px;
          font-weight: bold;
          text-transform: uppercase;
        }

        .close {
          color: $colorGray_1;
          float: right;
          font-size: 28px;
          font-weight: bold;
          line-height: 1;
        }

        .close:hover,
        .close:focus {
          color: $colorBlack;
          text-decoration: none;
          cursor: pointer;
        }
      }

      .modal-body {
        box-sizing: border-box;
        border-radius: 4px;
        flex: 1;
        display: flex;
        flex-direction: column;

        overflow: auto;

        .modal-body_container {
          display: flex;

          overflow: auto;

          .tab-container {
            background-color: $colorBackgroundMain;
            width: 100%;

            display: flex;
            height: fit-content;

            .tab {
              width: fit-content;
              padding: 10px;
              color: $colorGray_2;
              cursor: pointer;
            }

            .tab:hover {
              color: #0b5ed7;
            }

            .active-tab {
              color: #0b49a5;
              position: relative;
            }

            .active-tab::before {
              content: '';
              display: block;
              position: absolute;
              bottom: 0px;
              left: 50%;
              transform: translate(-50%);
              width: calc(100%);
              height: 2px;
              background-color: #0b49a5;
            }
          }
        }

        .content-tabs {
          flex: 1;
          overflow: auto;

          .content {
            display: none;
            height: 100%;

            .form-input {
              .input-container {
                width: 200px;
                display: inline-flex;
                flex-direction: column;
                margin-right: 10px;

                label {
                  font-size: small;
                }

                input {
                  padding-left: 5px;
                  width: 100%;
                  height: 30px;
                  border: 1px solid $colorGray_1;
                  outline-color: $colorGray_2;

                  &:disabled {
                    color: inherit;
                    background-color: inherit;
                  }
                }

                select {
                  width: 100%;
                  height: 30px;
                  border: 1px solid $colorGray_1;
                  outline-color: $colorGray_2;

                  &:disabled {
                    color: inherit;
                    background-color: inherit;
                  }
                }
              }
            }

            .view-table {
              margin: 5px 0 5px 0;
              box-sizing: border-box;

              height: fit-content;
              overflow: auto;

              border-radius: 5px;
              border: 1px solid #dddcdc;

              .table {
                font-size: small;
                table-layout: fixed;
                width: 100%;
                border-collapse: collapse;
                text-align: center;

                position: relative;
                .header {
                  position: sticky;
                  top: 0;
                }

                tr {
                  border-bottom: 1px solid $colorBorder;

                  td,
                  th {
                    border-left: 1px solid $colorBorder;
                    &:first-child {
                      border-left: 0px;
                    }
                  }

                  input {
                    height: 100%;
                    width: 100%;
                    padding-left: 5px;
                    outline: none;
                    border: none;

                    &:disabled {
                      color: inherit;
                      background-color: inherit;
                    }
                  }

                  select {
                    height: 100%;
                    width: 100%;
                    outline: none;
                    border: none;

                    &:disabled {
                      color: inherit;
                      background-color: inherit;
                    }
                  }

                  .col-fit {
                    height: 30px;
                  }

                  .col-header {
                    background-color: $colorDefault;
                    color: $colorWhite;
                  }

                  .stt {
                    width: 60px;
                  }

                  .consignment-number {
                    width: 170px;
                  }

                  .product {
                    width: 300px;
                  }

                  .product-detail {
                    width: 300px;
                  }

                  .unit-target {
                    width: 300px;
                  }

                  .quantity-target {
                    width: 200px;
                  }

                  .action {
                    width: 200px;

                    .button-container {
                      .button-search {
                        height: 23px;
                        margin-left: 10px;
                      }

                      :first-child {
                        margin-left: 0px;
                      }

                      .button-delete {
                        background-color: $colorOrangeBackground;
                        border: 1px solid $colorOrange;
                        color: $colorOrange;

                        &:hover {
                          background-color: $colorOrange;
                          color: $colorWhite;
                        }
                      }
                    }
                  }
                }
              }
            }

            .button-add {
              margin-top: 20px;
            }
          }

          .active-content {
            display: block;
          }
        }
      }

      .modal-footer {
        padding: 2px;
        color: white;
        height: 40px;

        .body__action {
          height: 100%;
          position: relative;

          .body__action--btn-save {
            position: absolute;
            bottom: 0;

            left: 50%;
            transform: translate(-50%);

            background-color: #0b5ed7;
            padding: 5px 20px;
            border-radius: 3px;
            border: none;
            color: white;
          }

          .body__action--btn-save:hover {
            background-color: #0b49a5;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}

// start hiệu ứng cho dialog
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// end hiệu ứng dialog

// .body_container-form_item {
//   display: flex;
//   flex-wrap: wrap;
// }

// .form_item-container {
//   margin-left: 5px;
//   width: fit-content;
//   height: fit-content;
// }
