.containers {
  display: flex;
  flex-wrap: wrap;
}

.form_item-container {
  box-sizing: border-box;
  margin-top: 5px;
  margin-left: 5px;

  width: 150px;
  height: 55px;

  label {
    font-size: small;
  }

  input {
    width: 100%;
    height: 25px;
  }

  input[disabled] {
    margin-top: 2px;
  }

  select {
    width: 100%;
    height: 25px;
    margin-top: 2px;
  }
}
